// iconfont
@import '../assets/fonts/iconfont.css';

// swiper.css
@import '../../node_modules/swiper/css/swiper.min.css';

// animate.css
@import '../../node_modules/animate.css/animate.min.css';

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form {
  margin: 0;
  font-family: 'MONTSERRAT-LIGHT', '微软雅黑';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

select {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

input,
textarea {
  font-family: Arial, '微软雅黑';
  outline: 0;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  background: 0 0;
}

button {
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
}

::placeholder {
  color: #fff;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.clearfix {
  zoom: 1;
}

.fw {
  margin: 0 auto;
  width: 1180px;
}

.hide {
  display: none;
}

.obHide {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 99;
}

.show {
  display: block;
}

.fa {
  color: inherit;
  line-height: inherit;
}

.flex_bc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.wow {
  animation-name: fadeInUp;
  visibility: hidden;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

a.link_box {
  display: block;
}

span.text,
i.iconfont {
  display: inline-block;
  vertical-align: top;
}

html {
  width: 100vw;
}

body {
  overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #333;
  margin-right: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 20px;
}

@font-face {
  font-family: 'POPPINS-BOLD';
  src: url('../assets/fonts/POPPINS-BOLD.ttf') format('truetype');
}

// sass
$colorVi: #34cd8b;
$colorBtn: #fa5051;
$colorTitle: #392f41;
$colorSubTitle: #392f41;
$colorNav: #bcd9ff;
$colorCategory: #a6a6a6;
$colorDes: #a6a6a6;
$colorTransparent: rgba(255, 255, 255, 0);

$minWidth: 1200px;

$transition1: all 0.3s ease-out 0s;
$transition2: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
$transition3: all cubic-bezier(0.16, 0.57, 0, 0.76) 0.3s;

@mixin font($size: 24px, $height: 48px, $color: #fff) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin rowEllipsis($row, $lineHeight) {
  overflow: hidden;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  height: $row * $lineHeight;
}

@mixin query($max, $min: 1280px) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin picCult($paddingTop) {
  .item_img {
    position: relative;
    overflow: hidden;
    padding-top: $paddingTop;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// 默认 transition
@mixin normalTran($style: all, $time: 0.36s, $method: ease, $delay: 0s) {
  transition: $style $time $method $delay;
}

@mixin designWidth($width: 1720px, $minWidth: 1200px) {
  width: vw($width);
  min-width: $minWidth;
  margin: 0 auto;
}

// 字体图标
@mixin iconFont($content: null, $family: iconfont) {
  @if $content {
    content: $content;
  }
  font-family: $family;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@function vw($px-vw, $base-vw: 1920px) {
  @return (($px-vw) * 100vw) / $base-vw;
}

.swiper-button {
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: $transition2;
  &:hover {
    border-color: $colorTransparent;
    &::before {
      width: 100%;
      height: 100%;
    }
    &.swiper-button-prev {
      .iconfont {
        &::before {
          transform: translate(-100%, 0px);
          opacity: 0;
        }
        &::after {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
    &.swiper-button-next {
      .iconfont {
        &::before {
          transform: translate(100%, 0px);
          opacity: 0;
        }
        &::after {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
  }
  &::after {
    display: none;
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-radius: inherit;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition2;
  }
  &-prev {
    .iconfont {
      &::after {
        @include iconFont('\e703');
        transform: translate(60px, -50%);
      }
    }
  }
  &-next {
    .iconfont::after {
      @include iconFont('\e71c');
      transform: translate(-60px, -50%);
    }
  }
  .iconfont {
    &::before {
      display: block;
      transition: $transition2;
      font-size: 12px;
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #002157;
      transition: $transition2;
      font-size: 14px;
      opacity: 0;
    }
  }
}

.swiper-pagination {
  pointer-events: none;
}
